<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cfsni.com/logout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/out.css') }}">
</head>
<body class="all">
    <h1 class="out">Logged out successfully</h1>
    <p>You have been logged out of CFSNI.</p>
    <p><a href="{{ url_for('index') }}">Back to Homepage</a></p>
    <div class="last">
        <p>
            Let's hope you have been blessed by our services!!! <br/> Please recommend if so.
        </p>
        <p>We wish to see you again</p>
        <img src="https://plus.unsplash.com/premium_photo-1687001839870-8fa10dc451fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGJ5ZSUyMGJ5ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
</body>
</html>